@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff6ea;
    color: #212121;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

header {
    margin: 50px auto;
    width: fit-content;
}

header h1 {
    font-size: 5rem;
    text-align: center;
}

header h2 {
    text-align: center;
}

#game-container {
    height: 450px;
    margin: 0 auto;
    width: 450px;
}

.gameover-screen {
    align-items: center;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    height: inherit;
    justify-content: center;
    position: absolute;
    width: inherit;
    z-index: 999;
}

.gameover-details p {
    color: #fff;
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
}

.gameover-details div {
    margin: 0 auto;
    width: fit-content;
}

.gameover-details input {
    background-color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 1.5rem;
    height: 50px;
    width: 200px;
}

.gameover-details input:hover {
    background-color: #929292;
}

#tile-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    height: 450px;
    padding: 10px;
    position: absolute;
    width: 450px;
}

.box {
    background-color: #faebd7;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.col {
    background-color: #ebd1b2;
    border-radius: 20px;
    height: 100px;
    width: 100px;
}

.tile {
    align-items: center;
    border-radius: 20px;
    display: flex;
    font-size: 2.5rem;
    font-weight: bold;
    height: 100px;
    justify-content: center;
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100px;
}

.moving {
    position: fixed;
}
